.jumbotron{
  padding: 0;
}

.jumbotron h1{
  color: #F9FFF9AC;
}
.opaciti{
  width: 100%;
  height: 100%;
  background: #142433A2;
}

#contact {
  width: 100%;
  height: 100vh;
  background: url('../fondos/4.jpg');
  overflow: hidden;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;

}

#contact form{
  width: 600px;
  color: white;
}
#contact form select{
  width: 49.5%;
  background-color: transparent;
  color: white;
   border: 1px solid white;
   font-size: 14px;
 height: 35px;
       transition: all .5s ease-in-out;

}
#contact form input{
  width: 100%;
  background: transparent;
  border-radius: 5px;
    border: 1px solid white;
  color: white;
margin-top: 10px;
font-size: 14px;
padding: 5px;
}

#contact form .send{
    background: white;
  color:black;
  border: 0 solid transparent;
      transition: all .5s ease-in-out;

}


#contact form .send:hover{
  background: #FFAD34FF;
color: white;
}

.cosa{
  width: 600px;
  height: 700px;
  position: absolute;
 left: 50px;
 bottom: 0;

}

